<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schopra.wecare">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PatientActivity"
            android:label="@string/title_activity_patient"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schopra.wecare.MainActivity" />
        </activity>
        <activity
            android:name=".Calendar"
            android:label="@string/title_activity_calendar"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schopra.wecare.MainActivity" />
        </activity>
        <activity
            android:name=".LearningActivity"
            android:label="@string/title_activity_learning"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schopra.wecare.MainActivity" />
        </activity>
        <activity
            android:name=".NoteActivity"
            android:label="@string/title_activity_note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DiaryActivity"
            android:label="@string/title_activity_note"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schopra.wecare.MainActivity" />
        </activity>
        <activity
            android:name=".AddAppointmentActivity"
            android:label="@string/title_activity_add_appointment"
            android:parentActivityName=".Calendar"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schopra.wecare.Calendar" />
        </activity>
        <activity
            android:name=".EditAppointmentActivity"
            android:label="@string/title_activity_edit_appointment"
            android:parentActivityName=".Calendar"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schopra.wecare.Calendar" />
        </activity>
    </application>

</manifest>